<div class="w3-container w3-padding-16 w3-text-dark-grey">
  <h2>About</h2>
  The purpose of this service is to reduce traffic by filling up car seats.
  A driver can register a ride, including the number of available car
  seats, and then share a link to the ride page where prospective passengers can
  claim free seats. It is also possible to add messages to the ride page (e.g.
  "I'm 5 min late! /Bob").

  <h3>How it works</h3>
  This site runs a simple web application that generates a random, but
  hard-to-guess link for each registered ride. These links can then be shared
  with those interested in getting a ride to the destination. Rides are
  automatically deleted after the date of travel.
</div>

