<div class="w3-container w3-padding-16 w3-text-dark-grey">
  <h2>About</h2>
  This service is intended to assist in filling up car seats when a group of
  people are travelling somewhere. Each driver can then register a ride,
  including the number of available car seats, and share the link with the
  group. Prospective passengers can then claim free seats. It is also possible
  to add messages to the ride page (e.g. "I'm 5 min late! /Bob").

  <p>
  Hopefully, this can be useful for e.g. school class excursions, sports teams
  going to away games, etc.
  </p>

  <h3>How it works</h3>
  This site runs a simple web application that generates a random, but
  hard-to-guess link for each registered ride. These links can then be shared
  with those interested in getting a ride to the destination. Rides are
  automatically deleted after the date of travel.
</div>

