<div class="w3-container w3-padding-16 w3-text-dark-grey">
  <h2>Not found!</h2>
  <p>Sorry, but it seems like you are trying to reach a page that does not exist.</p>
  <p>
  Maybe you are trying to reach a ride page for a ride that has already taken
  place, or you have simply miss-typed the URL.
  </p>

</div>

